@import "./utils/mixins";
@import "./config/vendor";
@import "./config/default-variables";
@import "./config/global";
@import "./utils/functions";

.container { 
  @include container(rem($wrapRem));
  padding: 0 rem(20);
  margin: 0 auto;
}
.header{
  padding-top:0;
}
.wrapper{
  min-height: 100%;
  display: flex;
  flex-direction: column;
 
}
.main{
  flex: 1 1 auto;
}


@import "./components/index";
@import "./components/blocks/header";
@import "./components/blocks/menu";
@import "./components/main-screen";

@import "./components/blocks/footer";
@import "./components/shop";
@import "./components/about";
@import "./components/product";
@import "./components/stories";
@import "./components/adresses";
@import "./components/menu";
@import "./components/checkout";
@import "./components/thankyou";
@import "./components/accountdetails";
@import "./components/create";
@import "./components/orders";
@import "./components/hellopage";
@import "./components/wishlist";
@import "./components/storepolicy";
@import "./components/contact";

// MAIN PAGE