@import "./utils/mixins";
@import "./config/vendor";
@import "./config/default-variables";
@import "./config/global";
@import "./utils/functions";
@import "./components/index";
@import "./components/blocks/header";
@import "./components/blocks/menu";
@import "./components/main-screen";

@import "./components/blocks/footer";
@import "./components/shop";
@import "./components/about";
@import "./components/product";
@import "./components/stories";
@import "./components/adresses";
@import "./components/menu";
@import "./components/checkout";
@import "./components/thankyou";
@import "./components/accountdetails";
@import "./components/create";
@import "./components/orders";
@import "./components/hellopage";
@import "./components/wishlist";
@import "./components/storepolicy";
@import "./components/contact";


html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

a, a:active, a:focus{
  color: #000;
}


.container { 
  @include container(rem($wrapRem));
  padding: 0 rem(20);
  margin: 0 auto;
}
.header{
  padding-top:0;
}
.wrapper{
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 
}
.main{
  flex: 1 1 auto;
}

figure{
  margin: 0;
}

.entry-header{
  display: none;
}

.woocommerce-MyAccount-content{
  max-width: 115.625rem;
    min-width: 320px;
    padding: 0 1.25rem;
    margin: 5rem auto;
}

.header__body{
  margin: 2rem 0;
}

.edit-link{
  display: none;
}

.item-details__form{
  border: none;
}
.item-details__form input{
  max-width: 29.0625rem;
  border-bottom: 1px solid #939598;
  margin-bottom: 1.9375rem;
  padding: 1.375rem 0;
  color: #939598;
}

.item-details__title{
  color: #000;
}

.accountdetails__button{
  margin-top: 4rem;
}

.item-details__title:first-child{
  margin-top: 0;
}

.login__body{
  margin-top: 5rem;
}

.item-login__form input{
  width: 100%;
  border-bottom: 1px solid #939598;
  margin-bottom: 1.3125rem;
  padding: 1.375rem 0;
  color: #939598;
}

.item-login__form{
  border: none;
}

.adress-page__column:first-child{
  margin-right: 25rem;
}
.adress-page__column{
  margin-right: 0;
}

.woocommerce-products-header{
  display: none;
}

.main-item-column__price{
  display: flex;
  align-items: center;
}

.product_title.entry-title{
  margin-right: 1rem!important;
}

.item-cart__text {
  background-color: inherit;
  border: none;
}

.products__column{
  flex: none;
  width: 25%;
}

.products__body{
  justify-content: flex-start;
}

.main__body{
  .woocommerce-product-gallery, .main__columns{
    width: 50%;
  }
}

.item-adress__form input{ 
  width: 100%; 
  border-bottom: 1px solid #939598; 
  margin-bottom: 1.9375rem; 
  padding: 1.375rem 0; 
  color: #939598; 
}

.woocommerce{
  .woocommerce-MyAccount-navigation.accountdetails{
    margin-top: 10rem;
  }
}

.woocommerce-breadcrumb, .woocommerce-result-count, .woocommerce-ordering{
  display: none;
}

.products__body.products{
  margin-top: 15rem;
}

.related.products{
  .products__body.products{
    margin-top: inherit;
  }
}
