@import "./utils/mixins";
@import "./config/vendor";
@import "./config/default-variables";
@import "./config/global";
@import "./utils/functions";
@import "./components/index";
@import "./components/blocks/header";
@import "./components/blocks/menu";
@import "./components/main-screen";

@import "./components/blocks/footer";
@import "./components/shop";
@import "./components/about";
@import "./components/product";
@import "./components/stories";
@import "./components/adresses";
@import "./components/menu";
@import "./components/checkout";
@import "./components/thankyou";
@import "./components/accountdetails";
@import "./components/create";
@import "./components/orders";
@import "./components/hellopage";
@import "./components/wishlist";
@import "./components/storepolicy";
@import "./components/contact";


html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

a, a:active, a:focus{
  color: #000;
  text-decoration: none;
}


.container { 
  padding: 0 31px;
  @media only screen and (min-width: 1600px) {
    padding: 0 51px;
}
}
.header{
  padding-top:0;
}
.wrapper{
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 
}
.main{
  flex: 1 1 auto;
}

figure{
  margin: 0;
}

.entry-header{
  display: none;
}

.woocommerce-MyAccount-content{
  max-width: 115.625rem;
    min-width: 320px;
    padding: 0 31px;
    margin: 5rem auto;
}

.header__body{
  margin: 2rem 0;
}

.edit-link{
  display: none;
}

.item-details__form{
  border: none;
}
.item-details__form input{
  max-width: 29.0625rem;
  border-bottom: 1px solid #939598;
  margin-bottom: 1.9375rem;
  padding: 1.375rem 0;
  color: #939598;
}

.item-details__title{
  color: #000;
}

.accountdetails__button{
  margin-top: 4rem;
}

.item-details__title:first-child{
  margin-top: 0;
}


.item-login__form input{
  width: 100%;
  border-bottom: 1px solid #939598;
  margin-bottom: 1.3125rem;
  padding: 19px 0;
  color: #939598;
}

.item-login__form{
  border: none;
}

.adress-page__column:first-child{
  margin-right: 25rem;
}
.adress-page__column{
  margin-right: 0;
}

.woocommerce-products-header{
  display: none;
}

.main-item-column__price{
  display: flex;
  align-items: center;
}

.product_title.entry-title{
  margin-right: 1rem!important;
}

.item-cart__text {
  background-color: inherit;
  border: none;
}

.products__column{
  flex: none;
  width: 25%;
}

.products__body{
  justify-content: flex-start;
}

.main__body{
  .woocommerce-product-gallery, .main__columns{
    width: 50%;
  }
}

.item-adress__form input{ 
  width: 100%; 
  border-bottom: 1px solid #939598; 
  margin-bottom: 1.9375rem; 
  padding: 1.375rem 0; 
  color: #939598; 
}

.woocommerce{
  .woocommerce-MyAccount-navigation.accountdetails{
    margin-top: 10rem;
  }
}

.woocommerce-result-count, .woocommerce-ordering{
  display: none;
}



.related.products{
  .products__body.products{
    margin-top: inherit;
  }
}

.information{
  max-width: 115.625rem;
  min-width: 320px;
  padding: 0 1.25rem;
  margin: 10rem 0.8rem;
  .information__content{
    max-width: 40.625rem;
    color: #000000;
    font-family: Lato;
    font-size: 1rem;
    font-weight: 300;
    &.size{
      max-width: 100%;

    }
    .information_title{
      text-transform: uppercase;
    }
    .upper{
      text-transform: uppercase;
      display: flex;
      flex-wrap: wrap;
      width: 50%;

      .size-block{
        width: 240px;
      }
      p{
        margin-right: 10rem;
      }
    }
  }
}

.nomarginb{
  margin-bottom: 0;
}

.categories__column{
  flex: none;
  width: 50%;
}

.main_btn_area{
  display: flex;
}

.cart-flex{
  display: flex;
  justify-content: space-between;
  align-items: end;

  .card-page__body{
    width: 75%;
  }

  .card-page__columns{
    &.checkout{
      width: 20%;
    }
  }
}

.quantity-block{
  display: flex;
}

.card-body_btn{
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.onsale{
  display: none;
}

.checkout__container{
  margin-top: 10rem;
}

.sub-menu{
  padding: 0;
  margin-top: 21px;
  list-style: none;
}

.noresult__item{
  margin-top: 10rem;
  padding-left: 33px;
}

.item-checkout__form.mistakeform{
  border-bottom:none;
}

.item-checkout__form.mistakeform input{

  position: relative;
  width: 100%;
  border-bottom: 1px solid #939598;
  margin-bottom: 4.375rem;
  padding: 1.375rem 0;
  color: #939598;
  outline: none;
}

.item-checkout__form.mistakeform input{
  border-bottom:1px solid #f80606;
  color:red;
}

.shop-list{

  &.hover{
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    opacity: 1;
    visibility: visible; 
    top: 0;
  }

  .container{
    display: inline-flex;
    list-style: none;
  }

  .menu-item{
    margin-right: 100px;
  }

  .sub-menu{
    .menu-item{
      margin-right: 0px;
    }
  }
}

.header-list__item{
  .link{
    cursor: pointer;
  }
}

.register{
  .login__column{
    margin-top: 115px;
    padding: 0 31px;
    max-width: 33.75rem;
  }
}

.woocommerce-password-strength, .woocommerce-privacy-policy-text{
  display: none!important;
}

input:focus{
  outline: none;
}

