.footer {

    padding-bottom: 25px;

    p {
        font-size: 12px;

        @media only screen and (min-width: 1600px) {
            font-size: 16px;
        }
       
    }

    &__body {
        @include dflex(center, wrap, space-between);
    }

    &__text {
        color: #000000;
        font-family: Lato;
        font-weight: 300;
        text-transform: uppercase;
        font-size: 12px;

        @media only screen and (min-width: 1600px) {
            font-size: 16px;
        }
    }

    &__menu {
        transform: translateX(rem(-110));
    }

    &__list {
        @include dflex(center, wrap, space-between);
    }

    &__item {
        font-family: Lato;
        font-size: 12px;
        font-weight: 300;
        text-transform: uppercase;
        list-style-type: none;
        margin-right: 10px;

        @media only screen and (min-width: 1600px) {
            font-size: 16px;
            margin-right: 15px;
        }

        a {
            text-decoration: none;
            color: #000000;
        }
    }
}