.about {
    margin-bottom: rem(180);

    &__body {
        @include dflex(center, wrap, space-between);
    }

    &__column {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
        flex: 0 0 50%;
    }
}

.item-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    

    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &--1 {
            width: rem(522);
            height: rem(322);
        
        }

        &--2 {
            width: rem(564);
            height: rem(403);
            
        }
    }

    &__title {
        color: #000000;
        font-family: Lato;
        font-size: rem(20);
        font-weight: 300;
        line-height: normal;
        text-align: left;
        text-transform: uppercase;
        margin-bottom: rem(63);
    }

    &__text {
        color: #000000;
        font-family: Lato;
        font-size: rem(20);
        font-weight: 300;
        margin-bottom: rem(30);

        @media only screen and (min-width: 1600px) {
            font-size: 20px;
        }
    }
    &__subtitle {
        color: #000000;
        font-family: Lato;
        font-size: rem(20);
        font-weight: 300;
    }

    &__img {
        width: 100%;
        height: auto;
        
    }

    .item-column__img{
        img{
            max-height: fit-content;
        }
    }

    &__text--2 {
        color: #231f20;
        font-family: Lato;
        font-size: rem(20);
        font-weight: 300;
        line-height: rem(37.95);
        margin-bottom: rem(30);
    }


}

.img-about {
    width: 100%;
    height: auto;
}