.checkout-header {
    position: relative;
    margin-bottom: rem(130);
}

.checkout {
    position: relative;
    z-index: 1;

    &__body {
        @include dflex (flex-start, wrap, flex-start);

        @media only screen and (max-width: 768px) {
            flex-direction: column-reverse;
        }

        .chekout__gobackbtn {
            @media only screen and (max-width: 768px) {
                display: none;
            }
        }
    }

    &__column {
        flex: 1 1 33.333%;

        &:not(:last-child) {
            margin-right: rem(200);

        }

        @media only screen and (max-width: 768px) {
            width: 100%;
        }

        .card-body__row {
            flex: 1 1 50%;
            display: flex;

            @media only screen and (max-width: 768px) {
                flex-direction: column;
            }

            &.q {
                align-items: end;

                @media only screen and (max-width: 768px) {
                    align-items: flex-start;
                    justify-content: end;
                }
            }
        }

        .card-body__name{
            @media only screen and (max-width: 768px) {
                margin-right: 0;
            }
        }
    }
}



.chekout {

    &__gobackbtn {
        margin-right: rem(90);
        color: #000000;
        font-family: "Lato Light";
        ;
        font-size: rem(16);
        font-weight: 300;
        line-height: rem(15);
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}

.woocommerce-checkout {
    .woocommerce-error {
        display: none;
    }
}


.item-checkout {
    &__radiobtns {
        display: flex;
        align-items: flex-start;
        margin-bottom: 174px;

        @media only screen and (max-width: 768px) {
            margin-bottom: 90px;
        }

        [type="radio"]:checked,
        [type="radio"]:not(:checked) {
            position: absolute;
            left: -9999px;
        }

        [type="radio"]:checked+label,
        [type="radio"]:not(:checked)+label {
            position: relative;
            padding-left: 28px;
            cursor: pointer;
            line-height: 20px;
            display: inline-block;
        }

        [type="radio"]:checked+label:before,
        [type="radio"]:not(:checked)+label:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 16px;
            height: 16px;
            border: 1px solid #000;
            background: #fff;
            border-radius: 50%;
        }

        [type="radio"]:checked+label:after,
        [type="radio"]:not(:checked)+label:after {
            content: '';
            width: 6px;
            height: 6px;
            background: #000;
            position: absolute;
            border-radius: 50%;
            top: 6px;
            left: 6px;
            -webkit-transition: all 0.2s ease;
            -o-transition: all 0.2s ease;
            transition: all 0.2s ease;
        }

        [type="radio"]:not(:checked)+label:after {
            opacity: 0;
            -webkit-transform: scale(0);
            transform: scale(0);
        }

        [type="radio"]:checked+label:after {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }

    &__formtext {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        text-transform: uppercase;
        opacity: 0.7;
    }

    &__form {
        position: relative;
        width: 100%;
        border-bottom: 1px solid #939598;
        margin-bottom: rem(70);
        padding: rem(22) 0;
        color: #939598;

        &.woocommerce-invalid-required-field {
            border-bottom: 1px solid #f80606;

            &:after {
                content: "this field is required";
                position: absolute;
                right: 0;
                color: red;
                text-transform: uppercase;
            }

            input {
                &::placeholder {
                    color: red;
                }
            }
        }

    }

    &__option {
        position: relative;
    }

    &__name {
        margin-bottom: rem(52);
        color: #000000;
        font-family: "Lato Light";
        ;
        font-size: rem(16);
        font-weight: 300;
        line-height: rem(15);
        text-transform: uppercase;

        &.ship {
            font-weight: 500;
            opacity: 0.5;
        }
    }

    &__subname {
        margin-top: rem(100);
        margin-bottom: 52px;
        color: #010101;
        font-family: "Lato Light";
        ;
        font-size: rem(16);
        font-weight: bold;
        line-height: rem(35);
        text-transform: uppercase;
    }

    &__radio {
        margin-right: rem(15);
        margin-bottom: rem(173);
        transform: translateY(20%);
        width: rem(16);
        height: rem(17);

        &:checked+label {
            color: #000;
        }

        label {
            width: 100%;
            color: #282828;
            font-family: "Lato Light";
            ;
            font-size: rem(12);
            font-weight: 300;
            line-height: rem(20);
        }
    }

    &__radiotext {
        transform: translateY(4%);
        color: red;

    }

    &__buttons {
        display: flex;
        justify-content: space-between;
    }

    &__button {
        flex: 1 1 50%;
        padding: rem(19) 0;
        margin-bottom: rem(25);
        margin-right: rem(11);
        border: 1px solid #000000;
        background-color: #ffffff;
        opacity: 0.8;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Lato Light";
        ;
        font-size: rem(14);
        font-weight: 700;
        line-height: rem(19.43);
        text-transform: uppercase;
        cursor: pointer;
        color: #000;

        &:last-child {
            margin-right: 0;
        }

        &.active {
            display: none;
        }

        a {
            width: 100%;
            text-align: center;
        }
    }
}


.item-login {

    &__email {

        text-transform: uppercase;

        &.mistakeform {
            color: red;
        }
    }
}

.ch_total {
    margin-top: 84px;
}

#payment {
    margin-top: 47px;
}

.woocommerce-billing-fields__field-wrapper {
    input {
        font-weight: 300;
    }
}

.option-item {
    @include dflex(center, wrap, flex-start);
    margin-bottom: 52px;

    &__name {
        color: #282828;
        opacity: 0.5;
        font-family: "Lato Light";
        ;
        text-transform: uppercase;
        // margin-bottom: rem(50);
    }

    &__plus {
        color: #282828;
        opacity: 0.5;
        position: absolute;
        top: 0;
        right: 0;
        font-weight: 400;
        font-size: 14px;
        cursor: pointer;

        &:after {
            content: "+";
        }

        &.minus {
            &:after {
                content: "-";
            }
        }
    }

    &__total {
        color: #282828;
        opacity: 0.5;
        position: absolute;
        top: 0;
        right: 0;
        font-family: "Lato Light";
        ;
        color: #000000;
        text-transform: uppercase;
        font-style: normal;
        font-weight: 400;
        letter-spacing: rem(0.39);
        line-height: rem(33);

        strong {
            font-weight: 400 !important;
        }
    }

    &__icon {}

    &__methods {
        color: #282828;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);

        &.bottom {
            border-bottom: 1px solid #282828;
        }

    }
}

.img-pay {
    transform: translateX(-25%);
}

.item-column-body {
    @include dflex(center, nowrap, flex-start);
}

.item-checkout-img {
    margin: 0 rem(30) rem(50) 0;
    @include dflex (center, wrap, center);
    width: 100%;
    max-width: rem(270);
    height: rem(360);
    border: 1px solid #000000;
    opacity: 0.5;

    @media only screen and (max-width: 768px) {
        height: 176px;
        margin-bottom: 60px;
    }

    img {
        width: 100%;
        max-width: rem(170);
        height: auto;
    }
}

.option-item__methods {
    cursor: pointer;
}

.wc_payment_methods {
    .input-radio {
        display: none;
    }
}

.payment_methods {
    padding-left: 0;

    .payment_box {
        p {
            display: none;
        }
    }
}

.payment-method__img{
    display: none;
}