.first-screen {
    display: block;
    position: relative;

    &.active {
        display: block;
    }

    @media only screen and (max-width: 768px) {

        display: none !important;
    }


    &__bg {
        position: relative;
        display: block;
    }

    &-img {
        object-fit: cover;
        display: block;
        width: 100%;
        position: relative;
        z-index: 1;
        height: 102vh;

    }

    &__subtitle {
        padding-bottom: rem(44);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        color: #000000;
        font-family: "Lato Light";
        ;
        font-size: rem(16);
        font-weight: 300;
        line-height: rem(27);
        text-transform: uppercase;
    }
}

/*------------CATEGORIES----------------------------------------------------------------------*/
.item-category__img {
    display: block;
    overflow: hidden;
    max-height: rem(1196);
    height: auto;
    width: 100%;
}

.categories {
    margin-bottom: 92px;

    img {
        display: block;
        width: 100%;
        height: 100vh;
        position: relative;
        z-index: 1;
        object-fit: cover;
    }

    &__body {
        @include dflex(stretch, wrap, space-between);

        @media only screen and (max-width: 768px) {
            display: block;
        }
    }

    &__column {
        position: relative;
        flex: 1 1 50%;
        transition: 0.3s;

        transform: translateY(75px);
        
        opacity: 0;
        transition: 1s all ease;

        @media only screen and (max-width: 768px) {
            &:first-child{
                opacity: 1;
                transform: translateY(0);
            }
        }
        
        &.active{
            transform: translateY(0);
            opacity: 1;
        }

        @media only screen and (min-width: 768px) {
            &.stories:nth-child(-n+2) {
                transform: translateY(0px);

                opacity: 1;
            }
        }

        &:hover img {
            opacity: 0;
            transition: 0.3s;
        }

        
    }

    &__name {
        max-width: rem(300);
        text-align: center;
        margin: 0 auto;
        padding-bottom: 31px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 3;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-end;
        color: #000000;
        font-family: "Lato Light";
        ;
        font-size: rem(16);
        font-weight: 300;
        line-height: rem(27);
        text-transform: uppercase;
        text-decoration: none;
        line-height: normal;

        // @media only screen and (max-width: 768px) {
        //     width: 50px;
        // }

    }
}

.categories {

    &__text {
        margin-bottom: 92px;
        color: #040404;
        font-family: "Lato Light";
        ;
        font-size: rem(16);
        font-weight: 300;
        font-style: normal;
        letter-spacing: normal;
        line-height: rem(29.96);
        text-align: center;
        text-transform: uppercase;

        &.mobile {
            display: none;
        }

        @media only screen and (max-width: 768px) {
            &.desktop {
                display: none;
            }


            &.mobile {
                display: block;

                text-align: start;
                padding-left: 31px;
            }
        }

        p {
            line-height: normal;
        }
    }
}

.item-category__text {
    position: absolute;
    left: 50%;
    bottom: 105px;
    text-align: center;
    max-width: rem(351);
    transform: translateX(-50%);
    color: #040404;
    font-family: "Lato Light";
    ;
    font-size: rem(16);
    font-weight: 300;
    font-style: normal;

    @media only screen and (max-width: 768px) {
        display: none;
        transform: none;
        width: rem(351);
        text-align: start;
    }

    p {
        text-align: center;
    }


}

/*------------cookiespage----------------------------------------------------------------------*/

.cookies-block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 335px;
    height: 195px;
    background-color: #ffffff;
    position: fixed;
    transition: all 0.3s ease 0s;
    bottom: 60px;
    right: 31px;
    z-index: 25;

    @media only screen and (max-width: 768px) {
        height: 390px;
        width: 265px;
        top: 50%;
        left: 50%;
        margin-top: -190px;
        margin-left: -133px;
        align-items: flex-start;
        padding: 30px;
    }

    @media only screen and (min-width: 1600px) {
        width: 415px;
        height: 255px;
    }

    @media(min-width: 992px) {
        &._active {
            opacity: 1;
            visibility: visible;
            right: 3%;

        }
    }


    &__icon {
        width: 8px;
        height: 8px;
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
    }

    &__body {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: rem(350);
        height: rem(200);

        .first-block {
            display: flex;

            .close {
                position: absolute;
                right: 0;
                top: 4px;
                cursor: pointer;
                
              

                @media only screen and (max-width: 768px) {
                    right: -20px;
                    top: -8px;
                    left: 202px;
                }

           

                &:before,
                &:after {
                    content: "";
                    position: absolute;
                    width: 11px;
                    height: 1px;
                    background: black;
                    @media only screen and (max-width: 768px) {
                        width: 20px;
                    }
                }

                &:before {
                    transform: rotate(45deg);
                }

                &:after {
                    transform: rotate(-45deg);
                }
                // span {
                //     font-size: 18px;

                //     @media only screen and (max-width: 768px) {
                //         font-size: 25px;
                //     }
                // }
            }
        }
    }

    &__title {
        color: #010101;
        font-family: "Lato Light";
        ;
        font-size: rem(12);
        font-weight: 300;
        text-transform: uppercase;
        width: 70%;

        @media only screen and (max-width: 768px) {
            font-size: 14px;
            width: 80%;
        }
    }

    &__subtitle {
        color: #010101;
        font-family: "Lato Light";
        ;
        font-size: rem(12);
        font-weight: 400;
        text-transform: uppercase;

        @media only screen and (max-width: 768px) {
            font-size: 14px;
            margin-top: 25px;
            margin-bottom: 35px;
        }
    }

    &__form input {
        position: relative;
        border-bottom: 1px solid #939598;
        padding: rem(15) 0;
        color: #939598;
        margin-bottom: rem(8);
        width: 145px;

        &::placeholder {
            text-transform: uppercase;
        }

        @media only screen and (max-width: 768px) {
            width: 100%;
            font-size: 14px;
        }
    }

    &__form {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media only screen and (max-width: 768px) {
            flex-direction: column;
            align-items: start;
        }
    }

    &__email {
        display: inline;
        border: none;
        font-size: rem(12);

        .uncorrect-email {
            color: #fb4141;
        }
    }

    &__button {

        display: flex;
        justify-content: center;
        align-items: center;
        width: 95px!important;
        height: 30px;
        border: 1px solid #000000;
        color: #000;
        background-color: #ffffff;

        padding: 0!important;

        font-size: rem(12);
        text-transform: uppercase;
        cursor: pointer;

        &:hover {
            background-color: #000;
            color: #ffffff;
            opacity: 1;
        }

        @media only screen and (max-width: 768px) {
            width: 100%!important; 
            font-size: 14px;
            height: 32px;
        }
    }

    &__privacy {
        color: #030303;
        font-family: "Lato Light";
        ;
        font-size: rem(12);
        font-weight: 300;

        span {
            text-decoration: underline;
        }

        a {
            text-decoration: underline;
        }

        .uncorrect-privacy {
            color: red;
        }

        .data-email {
            color: red;
        }

        @media only screen and (max-width: 768px) {
            font-size: 12px;
            &.desktop{
                display: none;
            }
            &.mobile{
                display: block!important;
                margin-top: 12px;
                margin-bottom: 25px;
            }
        }

        &.mobile{
            display: none;
        }

    }
}

.cookies-bottom {
    visibility: hidden;
    opacity: 0;
    transform: translateY(100%);
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 25;
    background-color: #fff;
    transition: all 0.3s ease 0s;

    @media(min-width: 992px) {
        &._active {
            opacity: 1;
            visibility: visible;
            bottom: 0;
        }
    }


    &__body {
        @include dflex(stretch, nowrap, space-between);
        height: 28px;
        align-items: center;

        @media only screen and (max-width: 768px) {
            height: 42px;
        }

    }

    &__info {
        color: #000000;
        font-family: "Lato Light";
        ;
        font-size: rem(14);
        font-weight: 300;

        &.page {
            text-decoration: underline;
        }

        &.mobile{
            display: none;
            @media only screen and (max-width: 768px) {
                display: block;
                width: 57%;
            }
        }

        &.desktop{
            @media only screen and (max-width: 768px) {
                display: none;
            }
        }



    }

    &__button {
        font-family: "Lato Light";
        ;
        font-size: rem(14);
        font-weight: 300;
        text-transform: uppercase;
        cursor: pointer;

        border: none;
        background: inherit;

        &.mobile {
            color: #000000;

            & {
                cursor: pointer;
                position: absolute;
                top: 0px;
                bottom: 0;
                right: 43px;
            }
        
            &:before,
            &:after {
                content: "";
                position: absolute;
                width: 20px;
                height: 1px;
                background: black;
            }
        
            &:before {
                transform: rotate(45deg);
            }
        
            &:after {
                transform: rotate(-45deg);
            }
        }
       

    }

    .active {
        opacity: 1;
        visibility: visible;
    }

    &.mobile {
        display: none;
    }

    @media only screen and (max-width: 768px) {
        &.desktop {
            display: none;
        }

        &.mobile {
            display: block;

            .cookies-bottom__info {
                width: 55%;
            }

            .cookies-bottom__button {
                font-size: 18px;
                transform: rotate(45deg);
            }
        }
    }
}

.cookies-banner-open {
    .cookies-bottom {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }
}

@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) {

}}

.story-block a{
    display: flex!important;
    flex-direction: column-reverse;
    align-items: center;
    top: auto;
}