.order-header {
    position: relative;
}

.orders {
    margin-bottom: rem(470);
    @media only screen and (max-width: 768px) {
        margin-bottom: 90px;
    }


    &__container {}

    &__body {
        @include dflex(center, wrap, flex-start);

        .mobile{
            display: none
        }

        @media only screen and (max-width: 768px) {
            .mobile{
                display: block;
            }

            .desktop{
                display: none
            }
          }
    }

    &__column {
        margin-right: rem(70);
        @media only screen and (max-width: 768px) {
            .view_btn{
                text-decoration: underline;
            }
        }

    }
}

.item-orders {

    &__name {
        margin-bottom: rem(44);
       font-family: "Lato Light";;
        font-size: rem(16);
        font-weight: 300;
        text-transform: uppercase;
        text-align: start;
    }

    &__text {
        margin-bottom: rem(15);
       font-family: "Lato Light";;
        font-size:12px;
        font-weight: 300;
        text-transform: uppercase;
        @media only screen and (max-width: 768px) {
            font-size: 11px;
        }  

        @media only screen and (min-width: 1600px) {
            font-size: 16px;
        }
    }
}

.woocommerce-order-details {
    margin-top: 25px;
    width: 460px;
    @media only screen and (max-width: 768px) {
        width: 100%;    
    } 

    .woocommerce-table{
        font-weight: 300;
    }


    &__title {
        margin-bottom: 20px;
    }

    .order-list {
        display: flex;

        flex-direction: column;

        .order_item {
            display: flex;
            justify-content: space-between;

            border-bottom: 1px solid #464646;
            padding: 25px 0;

            .product-name {
                width: 50%;
                display: flex;
                justify-content: space-between;
                text-transform: uppercase;
            }

            .product-total {
                width: 50%;
                text-align: end;
            }

            strong{
                font-weight: 300;
            }

        }

        .wc-item-meta{
            display: none;
        }
    }
}

.woocommerce-customer-details{
    width: 400px;
    font-weight: 300;
    margin-top: 55px;
    @media only screen and (max-width: 768px) {
        width: 100%;
    }

    .woocommerce-column__title{
        margin-bottom: 55px;
        @media only screen and (max-width: 768px) {
            margin-top: 25px;
            margin-bottom: 35px;
        }
    }

    address{
        font-style: normal;
        text-transform: uppercase;
    }

    .woocommerce-customer-details--phone,
    .woocommerce-customer-details--email{
        margin: 0;
    }
}

.woocommerce-columns--addresses{
    display: flex;
    justify-content: space-between;
    @media only screen and (max-width: 768px) {
        flex-direction: column;
    }
}

.order-number{
    margin-top: 35px
}

.woocommerce-MyAccount-content {
    max-width: 115.625rem;
    min-width: 320px;
    padding: 0 31px;
    margin-bottom: 175px;
    @media only screen and (max-width: 768px) {
        margin-bottom: 107px;
      }

    .chekout__gobackbtn{
        margin-top: 20px
    }
  }

  .order_pay{
      padding-left: 31px;
      margin-top: 150px;

      @media only screen and (min-width: 1600px) {
        padding-left: 51px;
    }

    .chekout__gobackbtn{
        margin-bottom: 20px;
    }
  }

  .order-payment{
      width: 460px;
      padding-left: 31px;
      @media only screen and (min-width: 1600px) {
        padding-left: 51px;
    }
      .item-checkout__button{
          width: 100%;
         
      }
  }
a.disabled {
    color: gray;
    pointer-events: none;
}

.order-pay-cancel-buttons {
    margin-top: 49px;
}

.item-checkout__radiotext {
    a {
        text-decoration: underline;
        color: red;
    }
}

.order-slider{
    position: relative;
    .swiper-button-order-next{
        position: absolute;
        top: 0;
        right: 0;
        visibility: visible;
        opacity: 1;

        transition: all 0.5s;
        &.swiper-button-disabled{
            opacity: 0;
            visibility: hidden;
            transition: all 0.5s;

        }
    }

    .swiper-button-order-prev{
        position: absolute;
        top: 25px;
        right: 0;
        visibility: visible;
        opacity: 1;

        transition: all 0.5s;
        &.swiper-button-disabled{
            visibility: hidden;
            opacity: 0;
            transition: all 0.5s;

        }
    }
}
