.order-header {
    position: relative;
}

.orders {
    margin-bottom: rem(470);


    &__container {}

    &__body {
        @include dflex(center, wrap, flex-start);
    }

    &__column {
        margin-right: rem(70);

    }
}

.item-orders {

    &__name {
        margin-bottom: rem(44);
       font-family: "Lato Light";;
        font-size: rem(16);
        font-weight: 300;
        text-transform: uppercase;
        text-align: start;
    }

    &__text {
        margin-bottom: rem(15);
       font-family: "Lato Light";;
        font-size: rem(16);
        font-weight: 300;
        text-transform: uppercase;
    }
}

.woocommerce-order-details {
    margin-top: 25px;
    width: 460px;

    .woocommerce-table{
        font-weight: 300;
    }


    &__title {
        margin-bottom: 20px;
    }

    .order-list {
        display: flex;

        flex-direction: column;

        .order_item {
            display: flex;
            justify-content: space-between;

            border-bottom: 1px solid #464646;
            padding: 25px 0;

            .product-name {
                width: 50%;
                display: flex;
                justify-content: space-between;
                text-transform: uppercase;
            }

            .product-total {
                width: 50%;
                text-align: end;
            }

            strong{
                font-weight: 300;
            }

        }

        .wc-item-meta{
            display: none;
        }
    }
}

.woocommerce-customer-details{
    width: 400px;
    font-weight: 300;
    margin-top: 55px;

    .woocommerce-column__title{
        margin-bottom: 55px;
    }

    address{
        font-style: normal;
        text-transform: uppercase;
    }

    .woocommerce-customer-details--phone,
    .woocommerce-customer-details--email{
        margin: 0;
    }
}

.woocommerce-columns--addresses{
    display: flex;
    justify-content: space-between;
}

.order-number{
    margin-top: 35px
}

.woocommerce-MyAccount-content {
    max-width: 115.625rem;
    min-width: 320px;
    padding: 0 31px;
    margin-bottom: 175px;

    .chekout__gobackbtn{
        margin-top: 20px
    }
  }

  .order_pay{
      padding-left: 31px;
      margin-top: 150px;

      @media only screen and (min-width: 1600px) {
        padding-left: 51px;
    }

    .chekout__gobackbtn{
        margin-bottom: 20px;
    }
  }

  .order-payment{
      width: 460px;
      padding-left: 31px;
      @media only screen and (min-width: 1600px) {
        padding-left: 51px;
    }
      .item-checkout__button{
          width: 100%;
         
      }
  }