.header-bottom {
    @include dflex(center, wrap, space-between);
    margin: rem(110) 0 rem(85) 0;

    &__link {
        color: #000000;
        font-family: Lato;
        font-size: rem(16);
        font-weight: 400;

        text-decoration: none;
    }
}

.product-header {
    &__buttons {
        margin-top: rem(100);
        display: flex;
        justify-content: space-between;
    }

    &__button {
        color: #000000;
        font-family: Lato;
        font-size: rem(16);
        font-weight: 300;

        span {
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}


.main {


    &__body {
        @include dflex(flex-start, wrap, space-between);

    }

    &__columns {
        flex: 0 0 50%;
        width: 100%;
        height: auto;
    }


    &__img {
        &--2 {
            padding: rem(190) 0 rem(290) 0;
        }

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }


    }

    &__columns--2 {

        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;


    }
}

.main-item-column {
    max-height: rem(559);
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__price {
        color: #070707;
        font-family: Lato;
        font-size: rem(16);
        font-weight: 300;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: left;
        text-transform: uppercase;
        margin-bottom: 29px;
    }

    &__text {
        color: #000000;
        font-family: Lato;
        font-size: rem(16);
        font-weight: 300;
        margin-bottom: 60px;
        text-align: left;
    }
}

.item-settings {
    @include dflex(center, wrap, space);
    margin-bottom: rem(40);

    &:last-child {
        margin: 0;
    }

    &__name {
        &.notactive {
            color: red;
        }
    }

    &__variants {
        @include dflex(center, wrap, space);


    }


    &__color {
        margin-right: rem(10);
        transform: translateX(78px);




    }

    &__size {
        margin-right: rem(20);
        transform: translateX(99px);

    }

    &__quantity {
        margin-right: rem(13);
        transform: translateX(63px);

    }
}

.color-icon {
    &:hover {
        border: rem(1) solid #939598;
        border-radius: 50%;

    }
}

.item-cart {
    @include dflex(center, wrap, space-between);
    width: 100%;
    max-width: rem(561);
    height: auto;
    max-height: rem(64);
    border: 1px solid #000000;
    background-color: #ffffff;
    padding: 1rem 3rem 2rem;

    &.notactive {
        border: 1px solid red;
        display: none;
    }

    margin-bottom: rem(87);
    transition: 0.5s;



    &__text {
        color: #070707;
        font-family: Lato;
        font-size: rem(16);
        font-weight: 300;
        line-height: rem(26.97);
        text-transform: uppercase;
        cursor: pointer;
        transition: 0.5s;

        &.notactive {
            color: red;
        }
    }

    &__img {
        padding-right: rem(48);
        cursor: pointer;
    }
}

.item-bottom {
    @include dflex(center, wrap, space-between);
    position: relative;

    &__list {
        margin-right: rem(55);

        &:hover{
            cursor: pointer;
            .item-bottom__text{
                opacity: 1;
                visibility: visible;
            }
            
        }
    }

    &__text {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        margin: rem(30) 0 rem(30) 0;

        font-weight: 300;

        transition: all 0.4s;
    }

    &__link {
        text-decoration: none;
        color: #000000;
        font-family: Lato;
        font-size: rem(16);
        font-weight: 300;
        cursor: pointer;
    }
}

.main-column__body {
    position: fixed;
    top: 0;
    padding-top: 206px;
    max-width: rem(601);
    margin-top: rem(-25);

    @media only screen and (min-width: 1600px) {
        padding-top: 291px;
        width: 558px;
    }
}

.products {
    &__body {
        @include dflex(center, wrap, space-between);
    }

    &__title {
        color: #000000;
        font-family: Lato;
        font-size: rem(16);
        font-weight: 300;
        text-transform: uppercase;
        margin: rem(164) 0 rem(85) 0;
    }


}

.item-column {


    &__body {
        @include dflex(flex-start, wrap, space-between);
        padding: 29px 31px 0 31px;
    }

    &__price {
        color: #070707;
        font-family: Lato;
        font-size: rem(16);
        font-weight: 300;
        text-transform: uppercase;
    }

    &__icon {}

    &__circles {
        @include dflex(center, wrap, flex-start);
        padding-left: 31px;
        padding-bottom: rem(50);
        margin-top: rem(25);
    }

    &__circle {
        margin-right: rem(11);
        cursor: pointer;
    }
}

.quantity {
    display: flex;

    .qty_button {
        background: none;
        border: none;
        cursor: pointer;
    }

    .qty {
        outline: none;
        border: none;
        width: 20px;
        text-align: center;
        margin-right: 25px;

    }
}

.color-icon {
    width: 10px;
    height: 10px;
    border-radius: 50%;

    @media only screen and (min-width: 1600px) {
        width: 11px;
        height: 11px;
    }
}

.products__body.products {
    margin-top: 30px;
}

.single-product{
    .woocommerce-breadcrumb{
        position: absolute;
        text-transform: none;
    }
}

.button-variable-item{
    box-shadow: none!important;

    &.selected{
        box-shadow: none!important;
        text-decoration: underline!important;
    }
}

.reset_variations, .woo-selected-variation-item-name{
    display: none!important;
}

.pa_size{
    display: flex;
    align-items: baseline;
}
