.stories-header {
      position: relative;

}

.stories {

      &__body {
            &.mobile{
                  display: none;
            }
            @media only screen and (max-width: 768px) {
                  &.desktop{
                        display: none;
                  }
                  &.mobile{
                        display: flex;
                        flex-direction: column;
                  }
              }
      }

      &__info {
            max-width: rem(893);
            margin: 0 auto;
            padding: 187px 0 142px 0;
            @media only screen and (max-width: 768px) {
                  padding: 65px 31px;
              }
      }

      &__title {
            margin-bottom: rem(55);
            color: #000000;
           font-family: "Lato Light";;
            font-size: 18px;
            font-weight: 300;
            text-align: center;
            text-transform: uppercase;
            @media only screen and (min-width: 1600px) {
                  font-size: 25px;
              }

            span {
                  font-size: 16px;
                  line-height: rem(28.07);
                  text-align: center;
                  @media only screen and (min-width: 1600px) {
                        font-size: 18px;
                    }
                    @media only screen and (max-width: 768px) {
                        font-size: 12px;
                    }
      
            }
            @media only screen and (max-width: 768px) {
                  font-size: 13px;
                  text-align: left;
                  margin-bottom: 20px;
            }

            span{
                  @media only screen and (max-width: 768px) {
                        margin-top: 15px;
                  }  
            }
      }

      &__subtitle {
            text-align: justify;
            color: #000000;
            font-weight: 300;
            font-size: 14px;

            @media only screen and (min-width: 1600px) {
                  font-size: 18px;
              }
            @media only screen and (max-width: 768px) {
                  font-size: 12px;
              }
      }

      &__images {
            @include dflex(center, wrap, space-between);
            @media only screen and (max-width: 768px) {
                  flex-direction: column;
              }
      }

      &__img {
            flex: 1 1 50%;

      }

      &__text {
            margin: 0 auto;
            max-width: rem(892);
            color: #000000;
           font-family: "Lato Light";;
            font-size: 14px;
            font-weight: 300;
            font-style: normal;
            letter-spacing: normal;
            line-height: normal;
            text-align: justify;
            padding: rem(194) 0;

            font-size: 14px;

            @media only screen and (min-width: 1600px) {
                  font-size: 18px;
              }
            @media only screen and (max-width: 768px) {
                  font-size: 12px;
                  padding: 65px 31px;
              }

            
      }

      &__bottomimg {
            margin-bottom: rem(240);

            img {
                  width: 100%;
            }

      }
}

.img-stories {
      display: block;
      width: 100%;
      height: 860px;
      object-fit: cover;
      @media only screen and (min-width: 1600px) {
            height: 1200px;
        }
}