.thankyoupage {
    margin-top: 130px;

    &__container {}

    &__body {}
}


.thankyoupage-top {
    @include dflex(center, wrap, space-between);
    margin-bottom: rem(40);

    &__title {
        color: #000000;
       font-family: "Lato Regular";;
        font-size: rem(16);
        font-weight: 400;
        text-transform: uppercase;
    }

    &__backhome {
        color: #070707;
       font-family: "Lato Regular";;
        font-size: rem(16);
        font-weight: 400;
        line-height: rem(27);
        text-transform: uppercase;

        @media only screen and (max-width: 768px) {
            display: none;
        }
    }
}

.thankyou-middle {


    &__text {
        margin-bottom: rem(42);
        color: #000000;
       font-family: "Lato Light";;
        font-size: rem(16);
        font-weight: 300;

        @media only screen and (max-width: 768px) {
            text-transform: uppercase;
        }
    }
}

.thankyoupage-bottom {
    margin-bottom: rem(194);
    @media only screen and (max-width: 768px) {
        margin-bottom: 90px;
    }
}

.item-thankyou {

    &__body {
        margin-bottom: rem(40);
    }

    &__name {
        color: #070707;
       font-family: "Lato Regular";;
        font-size: rem(16);
        font-weight: 400;
        text-transform: uppercase;
    }

    &__subname {
        color: #070707;
       font-family: "Lato Light";;
        font-size: rem(16);
        font-weight: 300;
    }
}