.wishlist {
    
    &__container {
    }

    &__body {
        @include dflex(center,wrap,space-between);
    }
}
.wishlist-header{
    padding-top:rem(32) ;
}

.wishlist{
    margin-bottom: rem(220);
    &__column{
        flex: 0 0 50%;
        margin-right: rem(50);
        margin-bottom: rem(32);
        max-width: 630px;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        position: relative;
       

        &:last-child {
            
        }
    }
    &__row{
        flex: 1 1 50%;
        display: flex;
        justify-content: space-between;
    }
    
    &__img{
        @include dflex (center, wrap, center);
        width: 290px;
        height: 368px;
        border: 1px solid #e5e5e5;
        opacity: 0.85;

        img {
            width: 100%;
            height: 100%;
        }
    }

  
}
.wishlist-body{
    display: flex;
    flex-direction: column; 
    height: 100%;
    width: 50%;
    color: #000000;
   font-family: "Lato Light";;
    font-weight: 300;
    text-transform: uppercase;
    &__name{
        margin-right: rem(150);
       margin-bottom: 285px;
    }
    &__remove{
        padding-bottom: 35px;
    }
}

.separator, .view-wishlist{
    display: none;
}

.yith-wcwl-add-to-wishlist{
    margin-top: 0;

    img{
        width: 16px;
        @media only screen and (min-width: 1600px) {
            width: 22px;
        }
    }
}

.woocommerce-wishlist {
    article {
        .main {
            margin-top: 150px;
            padding-left: 31px;
        }
    }
}